body, html {
    height: 100%;
}
body {
    background-image:url("http://i.imgur.com/O5D4yFg.jpg");
    background-size: cover;
}

.jumbotron, #weather {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: inherit;
    width: 75%;
}
#weather {
    max-width: 400px;
}
.form-group {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}